data/
ezswitch/
lid.176.bin
src/config.py
config.py

=4.30.0
Copy_of_IndicLID_Inference.ipynb
IndicLID/
__pycache__/
code-switch-thesis-backup-20250402/
en_hi_results_vera/
job_outputs/
new_outputs/
outputs/
venv/

tweets_outputs
tweets_job_outputs/
temp_scripts/perspective_analysis_outputs/
temp_scripts/zzzz.csv
temp_scripts/model_distribution_pie.png
temp_scripts/toxicity_analysis_outputs/
temp_scripts/code-switching-450110-70b9e6bd152f.json
output/
python_scripts/output/
slurm-11391697.out
toxicity_comparison.png
temp_scripts/credentials.json

perplexity_comparison.png
perplexity_results.csv
temp_scripts/token.pickle
=0.15.0

final_data/
final_outputs/
final_job_outputs/

=2.6.0
temp_outputs/
temp_scripts/perspective_analysis_form.csv